<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&family=Barlow:wght@400;700&display=swap"
        rel="stylesheet">
    <script src="/javascripts/themeSwitcher.js"></script>
    <link rel="stylesheet" href="/stylesheets/shared/index.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="manifest" href="/manifest/manifest.webmanifest">
    <title>Trainingsplan erstellen</title>
</head>

<body>

    <form action="/training/create-training-plan" method="POST" style="overflow-y: auto;">

        <h3 class="text-white ff-serif fs-7 00 letter-spacing-1 uppercase">Training</h3>

        <!--First section-->

        <section>
            <label for="training_title" class="ff-sans-normal letter-spacing-4 text-accent fs-400">Titel</label>
            <input type="text" id="training-title" class="create-training-plan-input" name="training_title" required>

            <label for="training_frequency" class="ff-sans-normal letter-spacing-4 text-accent fs-400">Trainings /
                Woche</label>
            <select name="training_frequency" id="training_frequency" class="generic-selector" required>
                <option value="" disabled selected hidden></option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>

            <label for="training_weeks" class="ff-sans-normal letter-spacing-4 text-accent fs-400">Blocklänge
                (Wochen)</label>
            <select name="training_weeks" class="generic-selector" required>
                <option value="" disabled selected hidden></option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>

            <button type="button" class="form-button uppercase" style="margin-top: 1.5rem;">weiter</button>
        </section>

        <!--Second section-->

        <section style="display: none">

            <label for="training-mode-selector"
                class="ff-sans-normal letter-spacing-4 text-accent fs-400">Trainingsphase</label>
            <select name="training_phase" id="training-mode-selector" class="generic-selector" required>
                <option selected value="hypertrophie">Hypertrophie</option>
                <option value="kraft">Kraft</option>
                <option value="peaking">Peaking</option>
            </select>

            <label for="isLastWeekDeload" class="ff-sans-normal letter-spacing-4 text-accent fs-400">Automatischer Deload-Planer in der letzten Woche? (empfohlen)</label>
            <select name="isLastWeekDeload" class="generic-selector" required>
                <option selected value="true">Ja</option>
                <option value="false">Nein</option>
            </select>

            <button type="submit" class="form-button uppercase" style="margin-top: 1.5rem;">Create</button>


        </section>


        <div class="dot-indicators flex" style="justify-content: center; --gap: 1.5rem; margin-top: 2rem;">
            <button aria-selected="true"><span class="sr-only">Slide Create Page</span></button>
            <button aria-selected="false"><span class="sr-only">Slide Create Page</span></button>
        </div>



    </form>

    <script>
        const navButtons = document.querySelectorAll(".dot-indicators button");
        const sections = document.querySelectorAll("section");

        const nextButton = document.querySelectorAll("button")[0];
        nextButton.addEventListener("click", e => {
            e.preventDefault();
            navButtons[navButtons.length - 1].click();
        })



        navButtons.forEach((navButton, index) => {
            navButton.addEventListener("click", e => {
                e.preventDefault();

                navButtons.forEach((btn, i) => {
                    btn.setAttribute("aria-selected", false);
                    sections[i].style.display = "none";
                })

                navButton.setAttribute("aria-selected", true);
                sections[index].style = "block";

                window.scrollTo(0, 0); //jump to start of the page
            })
        })

    </script>

</html>