<div class="tool-inner-container">
    <h2 class="trainingPlan-headline tool-headline">Extra Tools
        <button class="more-info-tool-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-info">
                <circle cx="12" cy="12" r="10"></circle>
                <line x1="12" y1="16" x2="12" y2="12"></line>
                <line x1="12" y1="8" x2="12.01" y2="8"></line>
            </svg>
        </button>
    </h2>
    
    <div class="tool-explanation-container" style="display: block">
            Diese Tools sind so auch im eigentlichen Trainingstool vorhanden. Zu jeder Übung der Kategorien Squat, Bench,
            Deadlift werden jeweils die 1RM
            Werte errechent und gespeichert. Auf den Handy kann dies aus Platzgründen leider nicht angezeigt werden.
            Der integrierte Backoff-Rechner erkennt Strukturen von Top- und Backoffsätzen und errechnet dann aufgrundlage
            der Leistung im Topset ein
    </div>
    
    
    <div class="tool-container">
        <a href="tools/max">
                1RM Rechner
        </a>
        <a href="tools/backoff">
            Backoff Rechner
        </a>
    </div>
</div>



<script>
    const toolExplanationContainer = document.getElementsByClassName("tool-explanation-container")[0];
    const showExplanationContainerButton = document.getElementsByClassName("more-info-tool-button")[0];

    showExplanationContainerButton.addEventListener("click", () => {
        if (toolExplanationContainer.style.display === "none") {
            toolExplanationContainer.style.display = "block";
        } else {
            toolExplanationContainer.style.display = "none";
        }
    })
</script>