<link rel="stylesheet" href="/stylesheets/backoffMax.css">

<div class="backoff-inner-container">
    <h2 class="trainingPlan-headline backoff-headline">Max Rechner</h2>

    <div class="backoff-input-field">
        <input type="number" id="max" name="max" class="trainingPlan-headline" placeholder="Trage deine Werte ein!" readonly />
    </div>
    <div class="backoff-input-field">
        <label for="weight">Bewegtes Gewicht</label>
        <input type="number" id="weight" name="weigt" />
    </div>
    <div class="backoff-input-field">
        <label for="reps">Absolvierte Wiederholungen</label>
        <input type="number" id="reps" name="reps" min="1" />
    </div>
    <div class="backoff-input-field">
        <label for="rpe">RPE</label>
        <input type="number" id="rpe" name="rpe" min="6" max="10" />
    </div>

    <button class="calc-button backoff-btn">BERECHNEN</button>
</div>




<script src="/javascripts/tools/calcMax.js"></script>


</script>