<!DOCTYPE html>
<html>
    <body>
      <nav class="navbar">
        <a href="/" class="brand-title">Training Systems</a>
        <div class="navbar-links">
          <ul>
            <li><a href="/training">Training</a></li>
            <li><a href="/tools/volume">Volumenrechner</a></li>
            <li><a href="/exercises">Übungen</a></li>
            <!-- <li><a href="/tools">Tools</a></li> -->
            <li><a href="/logout">LOGOUT</a></li>
          </ul>
        </div>
        <a href="#" class="toggle-button">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </a>
        
      </nav>
    </body>
</html>