<!--vllt noch animeren?-->

<div id="offlineModal" class="modal ff-sans-cond text-accent fs-500 letter-spacing-4" style="display: none">
    <div class="modal-content flow" style="--flow-space: 0.5em;">
        <input type="text" readonly value="Offline Daten synchronisiert">
        <div class="modal-buttons">
            <button class="modal-button text-accent" id="ackBTN">VERSTANDEN</button>
        </div>
    </div>
</div>