<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&family=Barlow:wght@400;700&display=swap"
        rel="stylesheet">
    <title>TYR</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="manifest" href="/manifest/manifest.webmanifest">
    <script src="/javascripts/header/header.js" defer></script>
</head>

<body class="home">
    <%- include("../partials/header.ejs") %>
        <%- body %> <!-- Hier wird der eigentliche Inhalt der gerenderten Seite eingefügt -->
        

        <!--jede seite schickt ihren online status an den aktiven service worker | auch bei wechsel -->
        <script src="/javascripts/onlineStatus.js"></script>
        <script src="/javascripts/displayOfflineData.js"></script>
</body>


</html>

