<main id="main" class="grid-container grid-container--home">


  <div class="flow" style="--flow-space: 0.25rem;">
    <h1 class="headline-animation text-accent fs-500 ff-sans-cond uppercase letter-spacing-1">TYR Training Systems
      <span class="d-block fs-900 ff-serif text-white">TYR</span>
    </h1>
    <!-- <button id="change-shit">change shit</button> -->
  </div>

  <input id="userIdentification" type="hidden" name="userIdentification" value="<%= userID %>">

  <div>
    <div class="index-view" style="margin-top: 3rem; display: block">
      <% if (user) { %>
        <a href="/training" class="large-button uppercase ff-serif fs-600 text-dark bg-white"
          style="padding-left: 2em; padding-right: 2em;">START</a>
        <% } else { %>
          <a href="/login" class="large-button uppercase ff-serif fs-600 text-dark bg-white">LOGIN</a>
          <% } %>
    </div>

    <div class="index-view" style="margin-top: 3rem; display: none;">
      <button id="install-button" class="large-button uppercase ff-serif fs-600 text-dark bg-white"
        style="padding-left: 1.45em; padding-right: 1.45em;">Install</button>
    </div>
  </div>

</main>

<div id="show-wifi-bar" class="navigate-week-button-container text-accent" style="background: inherit; border: none;">
  <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor"
    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevrons-up">
    <polyline points="17 11 12 6 7 11"></polyline>
    <polyline points="17 18 12 13 7 18"></polyline>
  </svg>
</div>

<div id="waitForSyncModal" class="modal ff-sans-cond text-accent fs-500 letter-spacing-4" style="display: none;">
  <div class="modal-content flow" style="--flow-space: 0.5em;">
      <input type="text" readonly value="Synchronisieren">
      <div style="display: flex; justify-content: center;">
        <div class="loader"></div>
      </div>
      <div id="close-modal-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg> </div>
      </div>
  </div>

<footer>
  <div class="navigate-week-button-container text-accent" id="wifi-bar" style="display: flex;">
    <div id="online-svg" style="display: none">

      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="feather feather-wifi">
        <path d="M5 12.55a11 11 0 0 1 14.08 0"></path>
        <path d="M1.42 9a16 16 0 0 1 21.16 0"></path>
        <path d="M8.53 16.11a6 6 0 0 1 6.95 0"></path>
        <line x1="12" y1="20" x2="12.01" y2="20"></line>
      </svg>
    </div>
    <div id="offline-svg" style="display: none;">

      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="feather feather-wifi-off">
        <line x1="1" y1="1" x2="23" y2="23"></line>
        <path d="M16.72 11.06A10.94 10.94 0 0 1 19 12.55"></path>
        <path d="M5 12.55a10.94 10.94 0 0 1 5.17-2.39"></path>
        <path d="M10.71 5.05A16 16 0 0 1 22.58 9"></path>
        <path d="M1.42 9a15.91 15.91 0 0 1 4.7-2.88"></path>
        <path d="M8.53 16.11a6 6 0 0 1 6.95 0"></path>
        <line x1="12" y1="20" x2="12.01" y2="20"></line>
      </svg>
    </div>

    <!--nur anzeigen wenn das gerät online im default modus && online && daten pedning sind === refresh button-->
    <div id="sync-svg" style="display: none">

      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="feather feather-slack">
        <path d="M14.5 10c-.83 0-1.5-.67-1.5-1.5v-5c0-.83.67-1.5 1.5-1.5s1.5.67 1.5 1.5v5c0 .83-.67 1.5-1.5 1.5z">
        </path>
        <path d="M20.5 10H19V8.5c0-.83.67-1.5 1.5-1.5s1.5.67 1.5 1.5-.67 1.5-1.5 1.5z"></path>
        <path d="M9.5 14c.83 0 1.5.67 1.5 1.5v5c0 .83-.67 1.5-1.5 1.5S8 21.33 8 20.5v-5c0-.83.67-1.5 1.5-1.5z"></path>
        <path d="M3.5 14H5v1.5c0 .83-.67 1.5-1.5 1.5S2 16.33 2 15.5 2.67 14 3.5 14z"></path>
        <path d="M14 14.5c0-.83.67-1.5 1.5-1.5h5c.83 0 1.5.67 1.5 1.5s-.67 1.5-1.5 1.5h-5c-.83 0-1.5-.67-1.5-1.5z">
        </path>
        <path d="M15.5 19H14v1.5c0 .83.67 1.5 1.5 1.5s1.5-.67 1.5-1.5-.67-1.5-1.5-1.5z"></path>
        <path d="M10 9.5C10 8.67 9.33 8 8.5 8h-5C2.67 8 2 8.67 2 9.5S2.67 11 3.5 11h5c.83 0 1.5-.67 1.5-1.5z"></path>
        <path d="M8.5 5H10V3.5C10 2.67 9.33 2 8.5 2S7 2.67 7 3.5 7.67 5 8.5 5z"></path>
      </svg>
    </div>
  </div>
</footer>


<script src="/javascripts/pwaBanner.js"></script>
<script src="/javascripts/syncThroughSW.js"></script>
