<main id="main" class="grid-container grid-container--home">


    <div class="flow" style="--flow-space: 0.25rem;">
        <h1 class="headline-animation text-accent fs-500 ff-sans-cond uppercase letter-spacing-1">TYR Training Systems
            <span class="d-block fs-900 ff-serif text-white">TYR</span>
        </h1>
        <!-- <button id="change-shit">change shit</button> -->
    </div>

    <div>
        <div class="index-view" style="margin-top: 3rem; display: block">
            <% if (user) { %>
                <a href="/training" class="large-button uppercase ff-serif fs-600 text-dark bg-white" style="padding-left: 2em; padding-right: 2em;">START</a>
                <% } else { %>
                    <a href="/login" class="large-button uppercase ff-serif fs-600 text-dark bg-white">LOGIN</a>
                    <% } %>
        </div>
    
        <div class="index-view" style="margin-top: 3rem; display: none;">
                <button id="install-button" class="large-button uppercase ff-serif fs-600 text-dark bg-white" style="padding-left: 1.45em; padding-right: 1.45em;">Install</button>
        </div>
    </div>


</main>



<script src="/javascripts/homePage/pwaBanner.js"></script>

<script>

  document.addEventListener("DOMContentLoaded", () => {



    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/register-service-worker', {
        scope: "/" // Der Scope sollte auf die Root-URL Ihrer Anwendung zeigen
      })
        .then((registration) => {
          console.log('Service Worker registriert:', registration);
        })
        .catch((error) => {
          console.log('Fehler bei der Registrierung des Service Workers:', error);
        });
    }
  })


</script>
