    <main id="main" class="grid-container grid-container--home">


        <div class="flow">
            <h1 class="text-accent fs-500 ff-sans-cond uppercase letter-spacing-1">TYR Training Systems
                <span class="d-block fs-900 ff-serif text-white">TYR</span>
            </h1>
            <a href="<%= mostRecentTrainingPlanURI %>" class="main-page-button uppercase">Starten</a>
        </div>
        
    </main>



