<main id="main" class="grid-container grid-container--home">


  <div class="flow" style="--flow-space: 0.25rem;">
    <h1 class="headline-animation text-accent fs-500 ff-sans-cond uppercase letter-spacing-1">TYR Training Systems
      <span class="d-block fs-900 ff-serif text-white">TYR</span>
    </h1>
    <!-- <button id="change-shit">change shit</button> -->
  </div>

  <div>
    <div class="index-view" style="margin-top: 3rem; display: block">
      <% if (user) { %>
        <a href="/training" class="large-button uppercase ff-serif fs-600 text-dark bg-white"
          style="padding-left: 2em; padding-right: 2em;">START</a>
        <% } else { %>
          <a href="/login" class="large-button uppercase ff-serif fs-600 text-dark bg-white">LOGIN</a>
          <% } %>
    </div>

    <div class="index-view" style="margin-top: 3rem; display: none;">
      <button id="install-button" class="large-button uppercase ff-serif fs-600 text-dark bg-white"
        style="padding-left: 1.45em; padding-right: 1.45em;">Install</button>
    </div>
  </div>

</main>

<footer>
  <div class="navigate-week-button-container" id="wifi-bar">

    <div id="online-svg" style="display: none">

      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="feather feather-wifi">
        <path d="M5 12.55a11 11 0 0 1 14.08 0"></path>
        <path d="M1.42 9a16 16 0 0 1 21.16 0"></path>
        <path d="M8.53 16.11a6 6 0 0 1 6.95 0"></path>
        <line x1="12" y1="20" x2="12.01" y2="20"></line>
      </svg>
    </div>
    <div id="offline-svg" style="display: none;">

      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="feather feather-wifi-off">
        <line x1="1" y1="1" x2="23" y2="23"></line>
        <path d="M16.72 11.06A10.94 10.94 0 0 1 19 12.55"></path>
        <path d="M5 12.55a10.94 10.94 0 0 1 5.17-2.39"></path>
        <path d="M10.71 5.05A16 16 0 0 1 22.58 9"></path>
        <path d="M1.42 9a15.91 15.91 0 0 1 4.7-2.88"></path>
        <path d="M8.53 16.11a6 6 0 0 1 6.95 0"></path>
        <line x1="12" y1="20" x2="12.01" y2="20"></line>
      </svg>
    </div>

  </div>
</footer>


<script src="/javascripts/homePage/pwaBanner.js"></script>

<script>

  document.addEventListener("DOMContentLoaded", () => {


    // Prüfen, ob bereits ein Service Worker aktiv ist
    if ("serviceWorker" in navigator) {
      navigator.serviceWorker.getRegistration()
        .then((registration) => {
          if (registration && registration.active) {
            console.log("Ein Service Worker ist bereits aktiv.");
          } else {
            // Kein aktiver Service Worker vorhanden, registriere einen neuen
            navigator.serviceWorker.register("/register-service-worker", {
              scope: "/" // Der Scope sollte auf die Root-URL Ihrer Anwendung zeigen
            })
              .then((registration) => {
                console.log("Service Worker registriert:", registration);
              })
              .catch((error) => {
                console.log("Fehler bei der Registrierung des Service Workers:", error);
              });
          }
        });

      const onlineSVG = document.getElementById("online-svg");
      const offlineSVG = document.getElementById("offline-svg");


      const isOnlineModeOn = localStorage.getItem("wifi");
      console.log("online mode on", isOnlineModeOn);

      if (isOnlineModeOn === "true") {
        onlineSVG.style.display = "block";
        offlineSVG.style.display = "none";
      } else if (isOnlineModeOn === "false") {
        onlineSVG.style.display = "none";
        offlineSVG.style.display = "block"
      } else { //inital das hier wenn kein wert gesetzt ist:
        onlineSVG.style.display = "block";
        offlineSVG.style.display = "none";
      }


      onlineSVG.addEventListener("click", () => {
        localStorage.setItem("wifi", false);
        onlineSVG.style.display = "none";
        offlineSVG.style.display = "block";
      })

      offlineSVG.addEventListener("click", () => {
        localStorage.setItem("wifi", true);
        onlineSVG.style.display = "block";
        offlineSVG.style.display = "none";
      })

    } else {
      //ansonsten diese bar ausblenden
      document.getElementById("wifi-bar").style.display = "none";
    }
  });

</script>