<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TYR Training Systems</title>
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&family=Barlow:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="manifest" href="/manifest/manifest.webmanifest">
    <script src="/javascripts/header/header.js" defer></script>
</head>

<body class="home">

    <header class="primary-header flex">
        <button class="mobile-nav-toggle" aria-controls="primary-navigation">
            <span class="sr-only" aria-expanded="false">Menu</span>

            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-menu">
                <line x1="3" y1="12" x2="21" y2="12"></line>
                <line x1="3" y1="6" x2="21" y2="6"></line>
                <line x1="3" y1="18" x2="21" y2="18"></line>
            </svg>

            <svg style="display: none" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-x">
                <line x1="18" y1="6" x2="6" y2="18"></line>
                <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
        </button>
        <nav>
            <ul id="primary-navigation" data-visible="false" class="primary-navigation underline-indicators flex">
                <li class="active"><a class="ff-sans-cond uppercase text-white letter-spacing-2" href="index.html"><span
                            aria-hidden="true">00</span>Home</a>
                <li><a class="ff-sans-cond uppercase text-white letter-spacing-2" href="destination.html"><span
                            aria-hidden="true">01</span>Training</a>
                <li><a class="ff-sans-cond uppercase text-white letter-spacing-2" href="crew.html"><span
                            aria-hidden="true">02</span>Volumenrechner</a>
                <li><a class="ff-sans-cond uppercase text-white letter-spacing-2" href="technology.html"><span
                            aria-hidden="true">03</span>Übungen</a>
            </ul>
        </nav>
    </header>

    <main id="main" class="grid-container grid-container--home">


        <div class="flow">
            <h1 class="text-accent fs-500 ff-sans-cond uppercase letter-spacing-1">TYR Training Systems
                <span class="d-block fs-900 ff-serif text-white">TYR</span>
            </h1>
            <button class="main-page-button uppercase">Starten</button>
        </div>
        
    </main>



</body>

</html>