<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&family=Barlow:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/shared/index.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="manifest" href="/manifest/manifest.webmanifest">
    <title>404</title>
</head>

<body class="home">
        <form action="/login" method="POST">
            <h3 class="text-white ff-serif fs-700 letter-spacing-1" style="font-weight: 500">TYR</h3>

            <div class="save-status-failure ff-sans-serif fs-500 letter-spacing-4 text-accent"
            style="margin-top: 1em; text-align: center;">
            Fehler beim abrufen der Daten
            </div>
    
            <a href="/" class="form-button uppercase fs-500" id="cancel-button" style="border: none; display: block; text-align: center;">Back</a>


        </form>

</body>

</html>