<main id="main" class="grid-container grid-container--home">


    <div class="flow" style="--flow-space: 0.25rem;">
      <h1 class="headline-animation text-accent fs-500 ff-sans-cond uppercase letter-spacing-1">Page not found
        <span class="d-block fs-900 ff-serif text-white">TYR</span>
      </h1>
      <!-- <button id="change-shit">change shit</button> -->
    </div>
  
    <div>
      <div class="index-view" style="margin-top: 3.5rem; display: block">
          <a href="/training" class="large-button uppercase ff-serif fs-600 text-dark bg-white"
            style="padding-left: 2em; padding-right: 2em;">OFFLINE</a>

      </div>
  
    </div>
  
  
  </main>