/*styling ist hier primär fürs handy*/ 

:root {
    font-size: 12px;
    font-family: "Roboto", "sans-serif";
}

.create-training-table .table-row td:nth-of-type(1) {
    min-width: 8rem;
}

.create-training-table .table-row td:nth-of-type(4) {
    min-width: 5.5rem;
}

.create-training-table .table-header-row th{
    padding: 0.5rem;
}

.create-training-table .table-header-row th:nth-of-type(5) {
    border-top-right-radius: 2px;
}

.create-training-table .table-row input[type="text"] {
    padding-left: 0.65rem;
}

.create-training-button {
    border-radius: 0.5rem;
    padding: 0.75rem;
    height: fit-content;
    margin-top: 1rem;
    font-weight: bold;
    letter-spacing: 1.2px;
}

.create-training-table .estMax {
    min-width: 40px;
}

.create-training-table .table-header-row th:first-child {
    display: block;
}

.create-training-table .table-row td:first-child {
    display: block;
}

.training-name {
    background-color: var(--color-background);
    border: none;
    font-size: 1.2rem;
    font-weight: 400;
}

.button-container {
    display: flex;
    gap: 0.5rem;
}

.button-container button {
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 0.65rem 1rem;
    font-family: "Roboto";
    background: linear-gradient(to bottom, var(--color-header), #e1e4ed); /* Gradient background */
    color: white;
    border: 2px solid var(--color-navigation);
    border-radius: 1.25rem;
    font-size: 1.5rem;
    font-weight: bold;
    box-shadow: 0px 2px 4px rgba(243, 243, 243, 0.2);
    cursor: pointer;
}

@media screen and (min-width: 768px) {

    .training-name {
        font-size: 1.35rem;
    }
}

@media screen and (min-width: 1032px) {

    :root {
        font-size: 16px;
    }

}
