.exercise-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: flex-start;
}

.exercise-container table {
    min-width: 100%;
}

.exercise-container table:first-of-type {
    display: none;
}

.exercise-table tr:nth-of-type(9) {
    border-top: 1.5px solid hsl(var(--clr-light) / 0.65);
}
