@import "shared/variables.css";
@import "shared/header.css";
@import "shared/headlines.css";
@import "shared/button.css";
@import "shared/tables.css";
@import "shared/training.css";
@import "shared/trainingIndex.css";
@import "shared/volumeCalculator.css";
@import "shared/confirmation-modal.css";
@import "shared/tools.css";
@import "shared/progressBars.css";
@import "shared/select.css";

@import "shared/inputs.css";

:root {
    /*define color scheme*/
    font-family: 'Roboto', sans-serif;
    --color-background: #F5F5F5;
    --color-text: #333333;
    --color-header: #E6E6E6;
    --color-navigation: #CCCCCC;
    --color-white: #FFFFFF;
    --color-offwhite: #F0F0F0; /* Etwas dunkleres Weiß */
    --color-input-focus: #ececec;

    /*For Training page specifically*/
    --color-td: #e6e7e88a;
    --color-accent: #002952;

}

.remove-margin {
    margin: 0;
}

.remove-padding {
    padding: 0;
}

.hidden {
    display: none;
}

*, *::before, *::after {
    box-sizing: border-box;
}

/*scrollbar settings*/
body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background-color: var(--color-navigation);
}

body::-webkit-scrollbar-thum {
    background-color: var(--color-navigation);
}

body {
    --color-background-start: #F5F5F5; /* Define the start color for the gradient */
    --color-background-end: #f4f4f4; /* Define the end color for the gradient */

    color: var(--color-text);
    background-image: linear-gradient(to left, var(--color-background-start), var(--color-background-end));
    color: var(--color-text);
    background-color: var(--color-background);
    justify-content: space-evenly; /*dont know wheter its needed*/
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.inner-container {
    margin-top: 8rem;
    padding-bottom: 70px;
}

@media screen and (max-width: 320px) {
    body {
        padding-left: 0.65rem;
        padding-right: 0.65rem;
    }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
    body {
        padding-left: 0.85rem;
        padding-right: 0.85rem;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    body {
        padding-left: 0.85rem;
        padding-right: 0.85rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    body {
        padding-left: 1.35rem;
        padding-right: 1.35rem;
    }
}

/* Desktops mit mittleren Bildschirmen */
@media screen and (min-width: 1500px) {
    body {
        padding-left: 3.5rem;
        padding-right: 3.5rem;
    }
}

/* Desktops mit größeren Bildschirmen */
@media screen and (min-width: 2000px) {
    body {
        padding-left: 9rem;
        padding-right: 9rem;
    }
}
