<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&family=Barlow:wght@400;700&display=swap"
        rel="stylesheet">
        <script src="/javascripts/themeSwitcher.js"></script>
    <link rel="stylesheet" href="/stylesheets/shared/index.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="manifest" href="/manifest/manifest.webmanifest">
    <title>LOGIN</title>
</head>

<body>
        <form action="/login/reset" method="POST">
            <h3 class="text-white ff-serif fs-700 letter-spacing-1 uppercase" style="font-weight: 500">RESET</h3>
            <% if (errorNotification) { %>
                <div class="ff-sans-normal letter-spacing-4 text-white fs-400" style="text-align: center; margin-top: 0.65em;">
                    <%= errorNotification %>
                </div>
                <% } %>

                    <label class="ff-sans-normal letter-spacing-4 text-accent fs-400 uppercase" for="email">email</label>
                    <input type="email" placeholder="Enter your email" id="email" name="email" required autofocus style="margin-bottom: 1rem;">

                    <button class="form-button" type="submit">SEND MAIL</button>

                    <div class="login-link-container" style="margin-top: 0.35em;">
                        <a href="/login" class="text-accent ff-sans-normal">Renember password? Log in</a>
                    </div>

</body>

<script>
    const googleBTN = document.getElementById("google-btn");

    googleBTN.addEventListener("click", e => {
        e.preventDefault();
        window.location.href = "https://www.google.com/";
    })
</script>

</html>