<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/shared/variables.css">
    <link rel="stylesheet" href="/stylesheets/shared/training.css">
    <link rel="stylesheet" href="/stylesheets/shared/login_sign.css">
    <title>Reset Password</title>
</head>

<body>
    <div class="container">
        <h2 class="trainingPlan-headline login-headline">Reset your Password</h2>
        <% if (errorNotification) { %>
            <div class="form__message__error reset_error">
                <p>
                    <%= errorNotification %>
                </p>
            </div>
            <% } %>
                <form action="/login/resetPassword" method="POST">
                    <div class="form__input-group" id="reset-input">
                        <input type="password" id="password" name="password" class="form__input" placeholder="New Password" required autofocus>
                    </div>
                    <div class="form__input-group">
                        <input type="text" value="<%= token %>" name="token">
                    </div>
                    <button class="form__button reset-btn" type="submit">RESET</button>
                </form>
                <p class="form__text">
                    <a href="/login" class="form__link">Remember Password? Log in</a>
                </p>
    </div>

</body>

</html>