.invisible-btn {
    background: inherit;
    padding: 0;
    border: none;
}

.invisible-btn svg {
    color: hsl(var(--clr-white));
    height: 100%;
    width: 100%;
}

.save-training-button {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid hsl(var(--clr-light) / 0.5);
}