/*Trial Dialog zur Bestätigung der Übungen zurücksetzen: */

.modal-content input[type="text"][readonly] {
  text-align: center;
  color: hsl(var(--clr-light));
  pointer-events: none;
}

.modal-content input[type="text"]:focus {
  border: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 3000;
  left: auto;
  right: auto;
  top: 0;
  width: 100%;
  height: fit-content;
  min-height: 12vh; /* appropriate? */ 
  background: inherit;
  justify-content: center;
  backdrop-filter: blur(1px); /* Hinzufügen von Unschärfe für Glasvermorphismus */
  align-items: center;
  font-size: 1.2em;
}


#installModal {
  top: 35vh;
  padding-inline: 10%;
  backdrop-filter: blur(2ox); /* Hinzufügen von Unschärfe für Glasvermorphismus */
}

  
  .modal-content {
    margin: 0;
    background-color: hsl(var(--clr-dark));
    padding: 1.5em;
    padding-bottom: 0.5em;
    border: 1px solid hsl(var(--clr-white) / 0.25);
    width: 100%;
    max-width: 400px; /* Maximale Breite des Modals */
    text-align: center;
    font-size: 1.1em;
    backdrop-filter: none;
  }

  .modal-content div:nth-child(2) {
    margin-top: 0.5rem;
  }

  .modal-content div:nth-child(3) {
    margin-top: 0.75rem;
  }

  .modal-content p {
    text-align: center;
  }

  .modal-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  /* Stil für die Buttons im Dialogfeld */
  .modal-button {
    flex: 1;
    margin: 5px;
    padding: 8px 16px;
    background: hsl(var(--clr-dark));
    font-weight: bold;
    letter-spacing: 1.5px;
    border: none;
    cursor: pointer;
    transition: color 300ms;
    transition: color 300ms, transform 500ms ease-in-out; /* Ändern Sie die Dauer auf 500ms */
  }
  
  .modal-button:hover {
    color: hsl(var(--clr-white) / 0.75);
    transform: scale(1.05);
  }

  @media (min-width: 35em) {

    .modal {
    /* border-color: red; */
    top: 2vh;
    left: auto;
    right: auto;
    height: fit-content;
    max-width: 35%;
    backdrop-filter: blur(10px);
    margin: 0 auto; /* Zentrieren des Modals horizontal */
    font-size: 1em;
  }
  
  .modal-content {
    width: 100%;
    min-width: 100%;
    padding: 1em;
    border-radius: 0.25em;
  }
   /*  .modal {
      border-color: red;
      top: 20vh;
      left: auto;
      right: auto;
      width: 100%; 
      max-width: 35em;

      margin: 0 auto; 
    }
  
    .modal-content {
      width: 100%;
      min-width: 100%;
    }

    .modal-content p {
      color: red;
      text-align: center !important;
    } */
  }