.headline {
    font-weight: bold;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 2px solid var(--color-td);
    background-color: var(--color-input);
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
    padding: 0.85rem;
    font-size: 1.65rem;
    border-radius: 12px;
    color: #444;
    box-shadow: 0 8px 16px rgba(228, 228, 228, 0.3);
    /* letter-spacing: 0.75px; */
}

.headline button {
    border: none;
    background-color: var(--color-input);
}

.headline button svg {
    height: 18px;
    width: 18px;
    color: #22222278;
}

.homepage-headline {
    margin: 0;
    margin-bottom: 1rem;
    font-weight: 300;
    font-size: 1.5rem;
    justify-content: center;
}

.homepage-headline span {
    font-weight: 400;
    font-size: 1.65rem;
}

.show-training-headline {
    font-weight: 400;
    font-size: 1.35rem;
}

/*Training*/

