.rest-pause-progress-bar {
width: 100%;
height: 1rem;
border: var(--color-white);
border-radius: 10px;
margin-top: 0rem;
margin-bottom: 0.5rem;
}


.rest-pause-progress-bar::-webkit-progress-bar {
    background-color: var(--color-hellgrau);
    border-radius: 10px;
}

.rest-pause-progress-bar::-webkit-progress-value {
    background: linear-gradient(to right, var(--color-accent-transition-2), var(--color-accent-transition-3));
    border-radius: 10px;
}



/* #training-week-progress {
    width: 100%;
    height: 2rem;
    border: none;
    border-radius: 10px;
    background-color: var(--color-background);
}

#training-week-progress::-webkit-progress-bar {
    background-color: var(--color-hellgrau);
    border-radius: 10px;
}


#training-week-progress::-webkit-progress-value {
    background-color: var(--color-accent-transition);
    border-radius: 10px;
    background: linear-gradient(to right, var(--color-accent-transition-2), var(--color-transition-grey));
} */