select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    height: 100%;
    background: inherit;
    border: none;
    color: hsl( var(--clr-white) / 1);
}

select option {
    color: black !important;
}

select:focus {
    border: none;
    outline: none;
}
