/*Generic*/
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    height: 100%;
    background-position: right center;
    background-color: var(--color-background);
    font-size: 16px;
    font-weight: 400;
    border: none;
    height: 100%;
    width: 100%;
    margin-top: 0.65rem;
    margin-bottom: 1rem;
}


#training-mode-selector {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Roboto", "sans-serif";
    border: 2px solid var(--color-navigation);
    background: linear-gradient(to left, var(--color-td), var(--color-hellgrau));
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 1.25px;
    padding: 0.75rem;
    border-radius: 1rem;
}

.generic-selector {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Roboto", "sans-serif";
    border: 2px solid var(--color-navigation);
    background: linear-gradient(to left, var(--color-td), var(--color-hellgrau));
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 1.25px;
    padding: 1rem 0.75rem 1rem 0.75rem;
    border-radius: 1rem;
}

.select-container {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: fit-content;
}

.select-container .icon-container {
    width: 50px;
    height: 100%;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-progress-background);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.icon-container svg {
    font-size: 1rem;
    color: var(--color-white);
}

/*User Exercises*/

#categoryPauseTimeSelector {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Roboto", "sans-serif";
    background: var(--color-grey-2);
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 1.25px;
    padding: 0.5rem;
    border-radius: 0;
}

#select-pause-time-icon-container {
    background-color: var(--color-grey-2);
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
}

#select-pause-time-icon-container svg {
    color: #11111133;
}

/*Training table*/
select[name="volumePhase"],
select[name="training-day-selector"] {
    margin: 0;
    margin-top: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.75rem 1rem;
    border-radius: 6px;
    font-family: "Roboto";
    background-color: var(--color-header);
    border: 2px solid var(--color-navigation);
    color: var(--color-white);
    box-shadow: 0px 2px 4px rgba(243, 243, 243, 0.2);
    text-align: center;
}

.table-row td select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    height: 100%;
    background-position: right center;
    padding-right: 20px;
    background-color: var(--color-td);
    font-size: 1.1rem;
    border: none;
    padding: 5px;
    height: 100%;
    width: 100%;
}

.table-row td select:focus,
select:focus {
    outline: none;
}

.table-row td select option:focus {
    background-color: var(--color-accent);
    color: var(--color-white);
}


select[name="training-day-selector"] {
    margin-top: 1rem;
}


select[name="volumePhase"]:hover,
select[name="training-day-selector"]:hover {
    cursor: pointer;
    transition: 0.5s;
    border-color: var(--color-white);
}

.exercise-category-selector,
.exercise-name-selector {
    font-size: larger;
    width: 100%;
    height: 100%;
}

.category-name {
    text-align: left;
}