form { /*works as a wrapper*/
    margin-inline: 2.5%;
    overflow-x: hidden;
}

input {
    background: inherit;
    border: none;
    /* border-bottom: 1px solid hsl( var(--clr-white) / 0.5); */
    text-align: center;
    color: hsl( var(--clr-white) / 1);
    letter-spacing: 1.5px;
    padding: 0.5em 1em;
    width: 100%;
    height: 100%;
}


input:focus {
    outline: none;
    box-shadow: 0 0 0 2px hsl(var(--clr-light) / 1); 
    bordeR: none;
}

.exercise-category-selector,
.exercise-name-selector {
    width: 100%;
    height: 100%;
    text-align: left;
    padding: 0;
    margin: 0;
    /* color: hsl( var(--clr-white) / 0.85); */
}

.exercise-category-selector option,
.exercise-name-selector option {
    color: black;
}

th:first-of-type,
th:nth-of-type(2) {
    text-align: left
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    color: hsl( var(--clr-white) / 0.85);
}

::placeholder {
    color: hsl(var(--clr-white) / 0.625);
}

table {
    background-color: inherit;
    padding: 1rem;
    border-collapse: collapse;
    width: 100%;
    font-family: var(--ff-sans-normal);
}

th,td, caption {
    padding: 0.5em 0.75em;
}

caption, th {
    text-align: center;
}

caption {
    padding: 0.5em 0;

    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: var(--ff-sans-normal);
    color: hsl( var(--clr-light) / 0.85) !important;
    letter-spacing: 2.5px;
    text-align: left;
}

th {
    background-color: hsl( var(--clr-dark));
    padding: 1em;
    border-top: 1px solid hsl( var(--clr-white) / 0.5);
}

tr {
    background-color: hsl( var(--clr-light) / 0.095);
}

tr:nth-of-type(2n) {
    background-color: hsl( var(--clr-light) / 0.135);
}

tr td input:focus {
    border-color: hsl(var(--clr-light) / 1);
    border-bottom: 1px solid;
    box-shadow: 0 0 0px hsl( var(--clr-light) / 1)

}

table .table-row td:first-of-type,
table .table-row td:nth-of-type(2),
table .table-row td:last-of-type {
    min-width: 15ch;
    text-align: left;
}

.table-container {
    max-width: 100%;
    overflow-x: scroll;
}


.rest-pause-container {
    display: none;
}

.calculate-table {
    margin-top: 4rem;
}


/*Session Tables*/

.create-training-table th:first-of-type,
.create-training-table th:nth-of-type(2) {
    text-align: center;
}

/*Utility reset class for volume-table*/
.left {
    text-align: left !important;
    padding-left: 0 !important;
}

.calculate-table .volume-selector,
.calculate-table #strength-level-input {
        text-align: center;
}

.calculate-table tr td:last-of-type {
    padding-left: 1em;
}

.calculate-table tr td input[type="text"],
.calculate-table tr td select {
    padding: 0;
    text-align: left;
}

.calculate-table th:last-of-type {
    text-align: left;
}

.exercise-table caption {
    display: none;
}

/*Failure-Success Status Animation*/
.hidden {
    opacity: 0;
    height: 0;
    font-size: 0px;
    color: inherit;
    transition: opacity 0.35s linear, height 0.35s linear, font-size 0.35s linear, color 0.35s linear;
}

/* responsive mobile table */
@media (max-width: 1154px) {

    table input,
    table select,
    table td::before {
        color: hsl( var(--clr-white) / 0.9125) !important;
    }

    tr {
        background-color: hsl( var(--clr-dark-2) / 0.675);
    }
    
    tr:nth-of-type(2n) {
        background-color: hsl( var(--clr-dark) / 0.675);
    }
    

    .create-training-table th {
        display: none !important;
    }

    .exercise-table caption {
        display: block;
    }

    form {
        margin-inline: 2.5%;   
        max-width: 100%;
    }

    th {
        display: none;
    }

    td {
        display: grid;
        gap: 0.5rem;
        grid-template-columns: 15ch auto;
        padding: 0.75rem 1rem;
        font-size: 1rem;
    }

    td::before {
        content: attr(data-cell) ": ";
        font-size: 1rem;
        text-transform: capitalize;
    }

    .exercise-table td {
        grid-template-columns: initial;
    }

    .exercise-table td::before {
        color: initial;
        content: initial;
        font-size: initial;
        text-transform: initial;
    }

    td:nth-of-type(9n) {
        border-bottom: 1px solid hsl( var(--clr-white) / .5)
    }

    caption {
        /* text-align: center; */
        padding-top: 0.75em;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    /*Workout Page*/
    caption input {
        font-size: 1.5rem !important;
    }

    .rest-pause-container {
        padding-inline-start: 1em;
        padding-inline-end: 1.25em;
        margin-top: 0.5em;
        display: flex;
    }

    .rest-pause-container .rest-pause-timer {
        font-size: 1.2em;
        margin-bottom: 0.25em;
        color: hsl( var(--clr-white) / .25);
    }

    .exercise-category-selector,
    .exercise-name-selector,
    input {
        text-align: left;
        padding: 0;
    }

    .exercise-category-selector {
        text-transform: uppercase;
    }

    td:first-child {
        padding-top: 1.5rem;
    }

    td:last-child {
        padding-bottom: 1.5rem;
    }
    

    td input {
        width: auto;
    }

    .navigate-week-button-container {
        height: 4rem;
    }

    .navigate-week-button-container a {
        height: 1.75rem;
    }

    .calculate-table, table { /*where volume recommandations are shown*/
        margin-top: 2rem;
        border-top: 1.5px solid hsl( var(--clr-white) / 0.5);
    }

    .dot-indicators {
        --gap: 2rem;
    }

    .calculate-table .volume-selector,
    .calculate-table #strength-level-input {
        text-align: left;
    }
}