/*Allgemeines*/
.button svg {
    width: 32px;
    height: 32px;
    color: var(--color-accent);
    border: none;
}

/*Tabelle*/
.volume-phase-headline {
    font-weight: 1.5rem;
}

.table-row .category {
    color: var(--color-text);
    box-sizing: border-box;
    background-color: var(--color-td);
    padding-left: 0.65rem;
}

.training-day-information-container {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.training-name-more-options-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.training-name-more-options-container .workout-name {
    margin: 0;
}

.notes-regarding-workout {
    background-color: var(--color-input);
    border: 1px solid var(--color-header);
    font-size: 1rem;
}

.notes-regarding-workout:focus {
    border-color: var(--color-progress-background);
}

.workout-name {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.navigate-week-button-container {
    position: fixed;
    border-top: 2px solid var(--color-white);
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    height: 55px;
    background-color: var(--color-background);
}

#workout-title-input {
    border: 1px solid var(--color-white);
    margin-left: 0;
}

#workout-title-input input[type="text"] {
    padding-left: 0.75rem;
    background-color: var(--color-td);
    font-size: 1.25rem;
    font-weight: 400;
}

.navigate-week-button-container .progress-bar-container {
    display: flex;
    align-items: center;
    position: absolute;
    left: 2.75rem;
}

.navigate-week-button-container .save-button-container {
    display: flex;
    align-items: center;
    position: absolute;
    right: 2.75rem;
}

.save-button-container button {
    background-color: var(--color-background);
    border: none;
}

.navigate-week-button-container button {
    border: none;
    background-color: var(--color-background);
    font-family: "Roboto";
    font-size: 1.1rem;
    letter-spacing: 1.5px;
}


.navigate-week-button-container .progress-bar-container svg {
    margin-left: 0.75rem;
    color: var(--color-text);
}

.navigate-week-button-container .headline-container {
    position: absolute;
    left: 2.75rem;
    display: flex;
    align-items: center;
}

.navigate-week-button-container .headline-container input[type="text"] {
    background-color: var(--color-background);
    border: none;
    width: auto;
}

.navigate-week-button-container .headline-container input[type="text"]:focus {
    scale: 1.05;
    text-shadow: 2px 2px 4px rgba(217, 217, 217, 0.5);
}

.navigate-week-button-container a:hover {
    scale: 1.1;
}

.navigate-week-button-container a svg {
    width: 24px;
    height: 24px;
    color: var(--color-text);
}

.workout-name-input {
    font-size: 1.75rem;
    font-weight: bold;
    border: none;
    background-color: var(--color-background);
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    padding-left: 0;
    text-shadow: 2px 2px 4px rgba(232, 232, 232, 0.2);
    box-shadow: 0 4px 8px rgba(242, 242, 242, 0.2);
    width: 100%;
}

.workout-name-input::placeholder {
    font-size: 1.35rem;
    font-weight: 400;
}

.exercise-name {
    text-align: center;
}

#save-button {
    padding: 0;
    margin-left: 0;
    margin-right: 0.5rem;
}

#save-button svg {
    margin: 0;
}

#save-button:hover {
    scale: 1.0125;
}   

#save-button:active {
    scale: 0.9875;
}


#display-week-btn {
    padding: 0;
    margin: 0;
}


/*TODO:*/
.more-info-button-time-container {
    display: flex;
    align-items: center;
}

.rest-pause-timer {
    font-weight: 400;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

#show-workout-title-btn,
#hide-workout-title-btn  {
    padding: 0;
}

#show-workout-title-btn svg,
#hide-workout-title-btn svg {
    margin-left: 0;
}

