.trainingPlan-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.75rem;
    justify-content: space-between;
}

#editTrainingPlanHeadlineButton {
    padding-left: 0;
    padding-right: 0;
    font-weight: 500;
    border: none;
}

.workout-preview-outer-container {
    border-top: 1px solid var(--color-white);
    padding-top: 0.85rem;
    margin-top: 0.85rem;
    letter-spacing: 0.85px;
}


.workout-preview-outer-container .workout-preview-container {
    letter-spacing: 0.85px;
    font-size: 1rem;
}

.template-button-container {
    margin-top: 0.75rem;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.template-button-container .btn {
    flex: 1;
}

.template-button-container .btn svg {
    font-size: 1.5rem;
}


.trainingPlan-container a {
    border: 1px solid black;
    border-radius: 12px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(235, 235, 235, 0.3);
    padding: 0.75rem 1.25rem;
    background-color: var(--color-hellgrau);
    text-align: left;
    border: 2px solid var(--color-navigation);
}

.trainingPlan-container a:first-of-type {
    margin-top: 0.75rem;
}

.trainingPlan-container a p {
    margin: 0;
    letter-spacing: 0.5px;
}

.selected {
    border-bottom: 2px solid var(--color-accent) !important; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) !important;
}

.trainingPlan-container .workout-preview-headline {
    font-weight: 500;
    letter-spacing: 0.75px;
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
    /* text-align: center; */
}

.trainingPlan-container .workout-preview-container {
    margin-bottom: 0.125rem;
}

.trainingPlan-container a:first-of-type {
    background-color: hsl(220, 5%, 92.5%);
    color: #444;
}

.trainingPlan-container a:nth-of-type(2) {
    background-color: hsl(220, 5%, 90%);
    color: #444; /* Helleres Grau */
}

.trainingPlan-container a:nth-of-type(3) {
    background-color: hsl(220, 5%, 88.5%);
    color: #444;
}

.trainingPlan-headline {
    margin-top: 1rem;
    margin-bottom: 0;
    border: 2px solid var(--color-td);
    background-color: var(--color-input);
    display: flex;
    gap: 0.5rem;
    justify-content: flex-start;
    align-items: center;
    padding: 0.85rem;
    font-size: 1.65rem;
    border-radius: 12px;
    color: #444;
    box-shadow: 0 8px 16px rgba(228, 228, 228, 0.3);
}

.trainingPlan-headline button {
    display: flex;
    align-items: center;
    border: none;
    padding: 0;
}   

.trainingPlan-headline button svg {
    height: 18px;
    width: 18px;
}

.trainingPlan-headline:last-of-type {
    margin-top: 1rem;
}

.volume-link {
    margin-top: 2rem;
    padding: 1.25rem;
    display: flex;
    justify-content: space-evenly;
    background-color: #002952;
    background-image: linear-gradient(to right, #08294a, #3d6286 );
    color: var(--color-white);
    font-weight: 400;
    font-size: 1.75rem;
    width: 100%;
    border: 2px solid var(--color-navigation);
    border-radius: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 16px rgba(146, 146, 146, 0.3);
}

.volume-link:hover {
    scale: 0.975;
    color: var(--color-white);
}

.more-training-info-container,
.no-workout-available-container {
    margin-top: 0.75rem;
    border: 1px solid var(--color-white);
    background-color: var(--color-hellgrau);
    border-radius: 1rem;
    padding: 1.25rem 1.5rem;
    letter-spacing: 1.5px;
    line-height: 1.2rem;
    display: flex;
    flex-direction: column;
}

.no-workout-available-container {
    background-color: var(--color-hellgrau);
    border-color: var(--color-grey-2);
    padding-left: 0.85rem;
}

.more-training-info-container a {
    display: inline;
    color: var(--color-text);
    text-decoration: underline;
}

.select-container {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: fit-content;
}

.select-container .icon-container {
    width: 50px;
    height: 100%;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-progress-background);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.icon-container svg {
    font-size: 1rem;
    color: var(--color-white);
}

/* #training-mode-selector {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Roboto", "sans-serif";
    border: 2px solid var(--color-navigation);
    background: linear-gradient(to left, var(--color-td), var(--color-hellgrau));
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 1.25px;
    padding: 1rem 0.75rem 1rem 0.75rem;
    border-radius: 1rem;
} */

/* .training-button {
    min-width: 50%;
} */

.training-button-container,
#training-button-placeholder-container,
.training-button-inner-container {
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
    margin-top: 1rem;
}

.training-button-container .calc-button {
    border-radius: 0.5rem;


    /*TODO: Farbe*/
}

.training-button-grid,
.training-plan-button-grid {
    margin-top: 0.5rem;
    display: flex;
    gap: 0.5rem;
    width: 100%;
    justify-content: space-between;
}

.training-button-grid button,
.training-plan-button-grid button {
    width: 100%;
    background-color: var(--color-background);
    border: 2px solid var(--color-navigation);
    border-radius: 8px;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.training-button-grid button:hover,
.training-plan-button-grid button:hover {
    scale: 0.975;
    cursor: pointer;
}

.training-button-grid button svg,
.training-plan-button-grid button svg {
    color: var(--color-navigation);
    height: 20px;
    width: 20px;
}

/*ACHTUNG DIESE LOGIK WIRD WAHRSCHEINLICH ZERSCHOSSEN*/
@media screen and (min-width: 589px) {
    .trainingPlan-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 1.75rem;
    }

    .trainingPlan-container a {
        margin-top: 0.75rem;
        overflow-y: auto;
    }

    .selected {
        border: 1px solid var(--color-accent) !important;
    }
    
    .trainingPlan-headline {
        margin-bottom: 1rem;
    }

    .inner-inner-container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media screen and (min-width: 1024px) {
    .edit-training-plan-button {
        display: none;
    }
}

@media screen and (min-width: 1050px) {

    .trainingPlan-container {
        grid-template-columns: repeat(3, 1fr);
    }


    .inner-inner-container {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .trainingPlan-headline {
        margin-bottom: 1rem;
    }

/*     .trainingPlan-container a {
    } */
}

@media screen and (min-width: 1350px) {
    .inner-inner-container {
        padding-left: 12.5%;
        padding-right: 12.5%;
    }
}

@media screen and (min-width: 2000px) {
    .inner-inner-container {
        padding-left: 15%;
        padding-right: 15%;
    }

    .trainingPlan-container {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media screen and (min-width: 2450px) {
    .inner-inner-container {
        padding-left: 17.5%;
        padding-right: 17.5%;
    }

    .trainingPlan-container {
        margin-bottom: 2rem;
    }

    .training-button-container {
        gap: 0.65rem;
    }
}

@media screen and (min-width: 2800px) {
    .inner-inner-container {
        padding-left: 32rem;
        padding-right: 32rem;
    }
}

@media screen and (min-height: 750px) {
    .trainingPlan-container a {
        min-height: 17.5rem;
    }
}

@media screen and (min-height: 1000px) {

    :root {
        font-size: 12px;
    }

    .trainingPlan-container a {
        min-height: 25rem;
    }

    .create-training-btn {
        padding: 1.25rem;
        font-size: 1.5rem;
    }

    .calc-button {
        padding: 1rem;
        font-size: 1.5rem;
        height: fit-content;
    }

    .headline {
        padding: 1rem;
    }



}