.volume-calculator-headline {
    margin-bottom: 0.65rem;
    font-size: 1.85rem;
}

.volume-calculator-explanation-td {
    padding: 0.5rem 1rem;
}

.calculateTable {
    width: 100%;
    margin-bottom: 1rem;
}

.volume-headline {
        margin-bottom: 0.5rem;
        margin-top: 1.75rem;
        border: 2px solid var(--color-td);
        background-color: var(--color-input);
        font-size: 1.25rem;
        padding: 0.85rem;
        border-radius: 12px;
        color: #444;
        box-shadow: 0 8px 16px rgba(228, 228, 228, 0.3);
 }

 .volume-headline:first-of-type {
    font-weight: 1.5rem;
 }

 .selection-td input[type="text"],
 .selection-td select {
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
 }

 .volume-adjustment-field {
    text-align: center;
 }

 .calculate-table {
    width: 100%;
 }

 .category-name {
   min-width: 180px;
 }

 .explanation-table .table-row td:first-child {
   padding: 0.65rem 1.5rem;
}

 @media screen and (min-width: 321px) and (max-width: 1024px) {

   .volume-table {
      border-spacing: 1px;
   }

   .volume-table .table-header-row th:last-of-type {
      display: block;
      padding: 0;
      height: 100%;
      padding-top: 0.65rem;
      padding-bottom: 0.65rem;
   }

   .volume-table .table-header-row th:first-child {
      padding: 0;
      height: 100%;
      padding-top: 0.65rem;
      padding-bottom: 0.65rem;
   }

   .volume-table .table-header-row th {
      padding: 0;
      padding-top: 0.35rem;
      padding-bottom: 0.35rem;
      vertical-align: center;
   }

   .volume-table .table-row td:last-of-type {
      display: block;
   }

   .volume-table .table-header-row th:first-child{
      display: block;
      margin: 0;
   }

   .explanation-table .table-header-row th:last-child {
      display: none;
   }

   .explanation-table .table-row td:last-child {
      display: none;
   }

   .category-name {
      min-width: 60px;
   }

   .volume-table .table-row td:first-child {
      display: block;
      margin: 0;
   }

   .volume-table input[type="text"] {
      margin: 0;
      padding: 0;
   }

   .recommandation-table .table-header-row th:first-child {
      margin: 0;
   }

}